.chat-main
  .chat-main__group-info
    .chat-main__group-info-left
      test
      .chat-main__group-info-left__member-list
        member : aaa
    .chat-main__group-edit-btn
      = link_to "#" do
        Edit
  .chat-main__message-list
    .chat-main__message-box
      .chat-main__info
        .chat-main__group-name
          k
        .chat-main__time
          2020/03/28(Sat) 15:26:32
          %p.chat-main__message-text
            まだメッセージがありません
      .chat-main__info
        .chat-main__group-name
          k
        .chat-main__time
          2020/03/28(Sat) 15:26:32
          %p.chat-main__message-text
            まだメッセージがありません
  .chat-main__message-form
    %form.new-message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", value: "Send", class: "submit-btn"}
          